{:kotoba.app/id "cloud.itonami.isic-4920", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiclaqyw3u6nl7eom7hrnsbniokwpk2ssytsbhaxmusvq7w6m3uldm", :kotoba.app/embed-url "ipfs://bafkreiclaqyw3u6nl7eom7hrnsbniokwpk2ssytsbhaxmusvq7w6m3uldm", :published {:archive "https://kotobase.net/ipfs/bafkreiclaqyw3u6nl7eom7hrnsbniokwpk2ssytsbhaxmusvq7w6m3uldm", :size 72524, :put-status 201, :get-status 200, :at "2026-08-15T13:45:15.357Z"}}
